<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>ジャンルから探す</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/genre.js" th:src="@{/js/genre.js}"></script>
<link href="/css/genre.css" th:href="@{/css/genre.css}" rel="stylesheet"></link>
</head>
<body>
    <div class="hedder">
        <p>Yohele</p><a href="/" class="links">topに戻る</a>
    </div>
    <div class="wapper">
        <div class="box">
        <ul class="search" th:each="data:${data}">
        <ls class="search_item" th:data-group="${data.tid}" th:text="${data.teamname}"></ls>
        </ul>
    </div>
        <table>
            <thead>
            <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>著者</th>
            <th>ジャンル</th>
            <th>入荷日</th>
            </tr>
            </thead>
            <tr class="list" th:each="idata:${idata}">
            <td class="list_item" th:data-group="${idata.teamid}" th:text="${idata.id}"></td>
            <td class="list_item" th:data-group="${idata.teamid}" th:text="${idata.arrival}"></td>
            <td class="list_item" th:data-group="${idata.teamid}" th:text="${idata.genre}"></td>
            <td class="list_item" th:data-group="${idata.teamid}" th:text="${idata.writer}"></td>
            <td class="list_item" th:data-group="${idata.teamid}" th:text="${idata.titlename}"></td>
            </tr>
        </table>
    </div>
</body>