<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>ようこそ葉柄書店へ</title>
<link href="/css/index.css" th:href="@{/css/index.css}" rel="stylesheet"></link>
</head>
<body>
<div class="warapper">
    <div class="hedder">葉柄書店</div>
    <div class ="main">
        <ul class="main1">
            <li class="main1__search"><a href="/search" id="a-search">本を検索する</a></li>
            <li class="main1__genre"><a href="/genresearch" id="a-genre">ジャンルから探す</a></li>
        </ul>
        <ul class="main2">
            <li class="main2__show"><a href="/show" id="a-show">新入荷</a></li>
            <li class="main2__map">
                <a href="/map" id="a-map">店内地図</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>